
.hidden {
    display: none;
}
body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
ul,
ol {
    margin: 0;
    padding-left: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
button {
    cursor: pointer;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;           
        }
}
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
        }
}

/* #region header */
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav-list,
.contacts {
    display: none;
}
.header-logo {
    display: block;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #404bbf;
    padding: 16px 0;
    position: relative;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-logo-studio {
    color: #2e2f42;
}
.burger-button {
    padding: 0;
    border: none;
    background-color: transparent;
}
.burger-icon {
    display: block;
    fill: #2f2f37;
}
@media screen and (min-width: 768px) {
    .burger-button {
        display: none;
    }
    .header-nav {
        display: flex;
        align-items: center;
    }
    .header-nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }
    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
    }
    .header-nav-list-item {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #2e2f42;
    }

    .header-nav-list-item-anchor {
        color: #2e2f42;
        padding: 24px 0;
        display: block;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-nav-list-item-anchor:hover,
    .header-nav-list-item-anchor:focus {
        color: #404bbf;
    }
    .header-nav-list-item-anchor:hover::after,
    .header-nav-list-item-anchor:focus::after {
        content: "";
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 4px;
        border-radius: 2px;
        background-color: #404bbf;
    }
    .header-nav-list-item-anch {
        color: #2e2f42;
        padding: 24px 0;
        display: block;
        position: relative;
    }
    .contacts {
        font-style: normal;
        display: block;
        margin-left: auto;
    }
    .contacts-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .contacts-list-item-anchor {
        font-size: 12px;
        line-height: 117%;
        letter-spacing: 0.04em;
        color: #434455;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .contacts-list-item-anchor:hover,
    .contacts-list-item-anchor:focus {
        color: #404bbf;
    }
}
@media screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px;
    }
    .contacts-list {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }
    .contacts-list-item-anchor {
        padding: 24px 0;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
    }
}
/* #endregion header */

/* #region features */
.features-section {
    padding: 96px 0;
}
.features-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
    justify-content: space-between;
    align-items: center;
}
.features-item-icon {
    display: none;
}
.features-list-title {
    margin-bottom: 8px;
}
.features-list h3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.features-list p {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}
.features-item {
    width: 100%;
}
@media screen and (min-width: 768px) {
    .features-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }
    .features-item {
        width: calc((100% - 24px) / 2);
    }
}
@media screen and (min-width: 1158px) {
    .features-section {
        padding: 120px 0;
    }
    .features-list {
        flex-wrap: nowrap;
        gap: 24px;
        justify-content: space-between;
    }
    .features-item-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #8E8F99;
        background-color: #f4f4fd;
        border-radius: 4px;
        width: 100%;
        height: 112px;
        margin-bottom: 8px;
    }
    .features-list h3 {
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;        
    }    
    .features-list p {
        font-weight: 400;
    }    
    .features-item {
        width: calc((100% - 72px) / 4);
    }
}
/* #endregion features */

/* #region team */
.team-section {
    background: #f4f4fd;
    padding: 96px 0;
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.team-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
    justify-content: space-between;
    text-align: center;
}
.team-item {
    max-width: 264px;
    background-color: #ffffff;
    width: 100%;
    border-radius: 0 0 4px 4px;
    box-shadow:
        0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-item h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.team-item p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
}
.employer {
    padding: 32px 0;
}
.team-list-title {
    text-align: center;
    margin-bottom: 8px;
}
.team-list-text {
    text-align: center;
    margin-bottom: 8px;
}
.icon-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.icon-list .icon {
    fill: #f4f4fd;
}
.icon-list .team-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
}
.icon-list .team-social-link:hover,
.icon-list .team-social-link:focus {
    background-color: #404bbf;
}
.team-social-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 64px 24px;
        justify-content: center;
    }    
}
@media screen and (min-width: 1158px) {    
    .team-section {
        padding: 120px 0;
    }
    .team-list {
        flex-wrap: nowrap;
        gap: 24px;
        justify-content: center;
    }
}
/* #endregion team */

/* #region portfolio */
.portfolio-section {
    padding: 96px 0;
}
.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.portfolio-title-list {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 48px;
}
.name-app {
    padding: 32px 16px;
    text-align: left;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-list-item {
    margin-bottom: 8px;
}
.portfolio-title-list-item:hover {
    box-shadow:
        0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-title-list-item h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.portfolio-title-list-item p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
}
.p-name-app {
    display: none;
}
@media screen and (min-width: 768px) {
    .portfolio-title-list {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 72px 16px;
    }
    .portfolio-title-list-item {
        max-width: calc(100% - 48px / 2);
    }
}
@media screen and (min-width: 1158px) {
    .portfolio-section {
        padding: 120px 0;
    }
    .portfolio-title-list {
        gap: 40px 24px;
    }

    .portfolio-title-list-item:hover .p-name-app,
    .portfolio-title-list-item:focus .p-name-app {
        transform: translateY(0%);
    }
    .pict-name-app {
        position: relative;
        overflow: hidden;
    }
    .p-name-app {
        display: block;
        position: absolute;
        top: 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        padding: 40px 32px;
        background-color: #4d5ae5;
        width: 100%;
        height: 100%;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}
/* #endregion portfolio */


